{% extends "base.html" %}
{% block css %}
    <link rel="stylesheet" type="text/css"
          href="{{ url_for('static', filename='vendor/bootstrap.min.css') }}" />
    <link rel="stylesheet" type="text/css"
          href="{{ url_for('static', filename='css/bike_parking.css') }}" />
{% endblock %}
{% block javascript %}
    <script type="text/javascript">
      (function(window) {
          BikeParking = window.BikeParking || {};
      })(window);
    </script>
    {% if config.DEBUG %}
    <script data-main="{{ url_for('static', filename='js/main') }}"
            src="{{url_for('static', filename='vendor/require.js') }}"></script>
    {% else %}
    <script data-main="{{ url_for('static', filename='js/main-build.js') }}"
            src="{{url_for('static', filename='vendor/require.js') }}"></script>
    {% endif %}
{% endblock %}
{% block content %}
    <div class="container text-center">
        <h1>San Francisco Bike Parking Map!</h1>
        <div id="search-form">
            <form class="form-horizontal" role="form">
                <div class="form-group">
                    <input type="text" class="form-control" id="starting-address" placeholder="Search for an address..." >
                </div>
                <button type="submit" class="btn btn-success">Find Parking!</button>
            </form>
        </div>
        <div id="main-map">
        </div>
    </div>
{% endblock %}
